*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html{
    overflow-x: hidden;
}

header{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}

nav{
    display: none;
}

.contanier{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;     
}

.contanier h1{
    cursor: pointer;  
    margin-bottom: 20px; 
    color: white;     
}

.menu-hamburger{
    width: 30px;
    cursor: pointer;
}

.menu-hamburger span{
    height: 2px;
    width: 100%;
    background-color: white;
    display: block;
    margin-bottom: 5px;    
}

header .contanier{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
}
header{
    padding: 16px 0 0;
    border-top: 1px solid red;
    border-bottom: 2px solid red;
    background-color: brown;
}

header form input{
    padding: 5px;
    border-color: white;     
}

header button{
    padding: 5px;
    color: white;
    background-color:grey ;
    border:1px solid white;
}

header nav{    
    background-color: white;         
}

.menu > li{
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    color: red;
    cursor: pointer; 
    float: left;
    padding: 16px;
    list-style: none; 
    position: relative;         
}

.menu li:hover .submenu{
    display: block;             
}

.menu li:hover{
    text-decoration: underline;  
    transition: 0.5s;      
    background-color: brown;     
    color: white;
    opacity: 0.95;        
}

.menu1{
    margin-left: 17.5%;    
    
}

.submenu{
    font-size: 14px;
    display: none; 
    position: absolute;  
    left: 0;
    margin-top: 16px;            
}

.submenu li{
    font-size: 14px;  
    list-style: none;
    padding: 8px; 
    background-color: brown; 
    width: 300px;            
}

.submenu li a:hover {    
    color: white;   
}

.submenu li a{    
    color: white;
    text-decoration: none;
} 

.clear{
    clear: both;
}

.conteudo{
    display: grid;
    grid-template-columns: 70% 30%;    
}

.noticia img{
    max-width: 100%;
}

.destaque .noticia a{
    display: flex;
    font-size: 32px;
    text-align: inherit;
    text-decoration: none;    
}

.destaque .noticia img:hover{
    box-shadow:0 2px 2px #000;
}

.destaque .noticia h3:hover{
    text-decoration: underline;    
}

.destaque .noticia img{
    margin-right: 10px;
    width: 500px;
    height: 400px;
    margin-bottom: 100px;
}

.destaque .noticia h3{
    font-size: 30px;
    text-align:left;
    color: red;
}

.novidades{
    margin-right: 16px;
}

.novidades .noticia img{
    width: 100%;  
}

aside{
    padding-left: 40px;
}

aside .noticia{    
    margin-bottom: 32px;
}

aside .noticia h3{    
    margin-top: 5px;
    text-align: justify;    
    width: 100%;  
    color: black;  
}

aside a{
    text-decoration: none;
}

section h2{
    margin-top: 48px;
    margin-bottom: 24px;    
}

.conteudo .destaque{
    margin-left: 16px;

}

.destaque-secundario{
    display: grid;
    grid-template-columns: 32% 32% 32%;   
    column-gap: 2%;  
    row-gap: 5%;    
}

.destaque-secundario img{
    height: 50%;
    width: 100%;
}

.destaque-secundario a{
    color: brown;
    text-decoration: none;
}

.destaque-secundario .noticia a:hover{
    text-decoration: underline;
    box-shadow:0 2px 2px #000;
}


@media screen and (max-width: 767px) {

.conteudo{
    display: block;      
}

.contanier{
    max-width: 90%;
}

.destaque .noticia a{
    display: block;
    font-size: 32px;
    text-decoration: none;    
}

.destaque .noticia img:hover{
    box-shadow:0 2px 2px #000;
}

.destaque .noticia h3:hover{
    text-decoration: underline;    
}

.destaque .noticia img{    
    margin-bottom: 10px;
}

.destaque .noticia h3{
    font-size: 25px;
    text-align:justify;
    color: red;
}

.destaque-secundario{
    display: block;
}

aside{
    padding-left: 0;
}

header .contanier{
    flex-direction: column-reverse;
}

}